ul.notes-echelle li.note-off label {
	background-position:center -60px;
	
}
ul.notes-echelle {
    padding-top: 0px;
    padding-bottom: 50px;
    width: 150px;
    padding-left: auto;
	margin-left:0px;	
    width: 190px;
    padding-left: 20px;

}
ul.notes-echelle li {
  float: left;
  margin: auto;
  padding: auto;
  list-style: none;
}
/* Correctif IE6 sur min-width & min-height */
html ul.notes-echelle.js li {
	width:30px;
	height:20px;
}
ul.notes-echelle li label {
  display: block;
  text-align: center;
  line-height: 20px;
  background: url(etoiles.gif) center top no-repeat;
  cursor: pointer;
}

footer {
 position:relative;
 bottom: 0; 
 left: 0;
 right: 0;
}
label
{
 display: block;
 width: 175px;
 float : left;
 margin-left:40%;
}

.information{
background-color:#c3c3c3;
border:1px solide #c3c3c3;
border-radius:5px 5px 5px 5px ;
box-shadow: 10px 10px 5px #888888;
margin-bottom:15px;
padding:5px;
margin-lefr:5px;
margin-right:5px;
}
