.box {
/* basic styling */
width: 100%;
height: 150px;
font: 14px Arial;

/* flexbox setup */
display: -webkit-box;
-webkit-box-orient: horizontal;

display: box;
box-orient: horizontal;
}

#logo {
-webkit-box-flex: 1;
}

#banniere{
-webkit-box-flex: 3;
}

#menu_header{
-webkit-box-flex: 2;
}

ul.notes-echelle li.note-off label {
	background-position:center -60px;
	
}
ul.notes-echelle {
    padding-top: 0px;
    padding-bottom: 50px;
    width: 150px;
    padding-left: auto;
	margin-left:0px;	
    width: 190px;
    padding-left: 20px;

}
ul.notes-echelle li {
  float: left;
  margin: auto;
  padding: auto;
  list-style: none;
}
/* Correctif IE6 sur min-width & min-height */
html ul.notes-echelle.js li {
	width:30px;
	height:20px;
}
ul.notes-echelle li label {
  display: block;
  text-align: center;
  line-height: 20px;
  background: url(etoiles.gif) center top no-repeat;
  cursor: pointer;
}
<<<<<<< HEAD
.footer{
  bottom: 0;
  height: 100px;
  left: 0;
  position: relative;
  right: 0;
}
=======

footer {position:relative; bottom: 0; left: 0; right: 0;}

>>>>>>> c51f5d1a5afe7ff876710de4eae791aa8fd5008f
