ul.notes-echelle li.note-off label {
	background-position:center -60px;
	
}
ul.notes-echelle {
    padding-top: 0px;
    padding-bottom: 50px;
    width: 150px;
    padding-left: auto;
	margin-left:0px;	
    width: 190px;
    padding-left: 20px;

}
ul.notes-echelle li {
  float: left;
  margin: auto;
  padding: auto;
  list-style: none;
}
/* Correctif IE6 sur min-width & min-height */
html ul.notes-echelle.js li {
	width:30px;
	height:20px;
}
ul.notes-echelle li label {
  display: block;
  text-align: center;
  line-height: 20px;
  background: url(etoiles.gif) center top no-repeat;
  cursor: pointer;
}

footer {
 position:relative;
 bottom: 0; 
 left: 0;
 right: 0;
}
label
{
 display: block;
 width: 175px;
 float : left;
 margin-left:40%;
}

.information{
background-color:#c3c3c3;
border:1px solide #c3c3c3;
border-radius:5px 5px 5px 5px ;
box-shadow: 10px 10px 5px #888888;
margin-bottom:15px;
padding:5px;
margin-left:5px;
margin-right:5px;
}

body {
        background-color:#fff;
        margin:0;
        padding:0;
}

.menu { 
 list-style:none; 
 border-bottom:#5dbef5 solid 5px;
 background-color:#ffffff; 
 width:100%; height:45px; 
 margin:0px; 
 }

.menu li { float:left; }

.menu li a { 
 display:block; 
 color:#000000; 
 font-size:10px; 
 font-weight:bold; 
 text-decoration:none; 
 font-family:arial, verdana, sans-serif; 
 text-align:center; 
 cursor:pointer; 
 }

.menu { 
 list-style:none; 
 border-bottom:#5dbef5 solid 5px;
 background-color:#F8F8F8; 
 width:100%; height:27px; 
 line-height:27px;
 margin:10px 0 0 0; 
 }
 
.menu li { 
 float:left; 
 margin-left:10px;
}

.menu li a {
 display:block; 
 float:left; 
 height:27px; 
 line-height:27px; 
 color:#aaa; 
 text-decoration:none; 
 font-family:arial, verdana, sans-serif; 
 text-align:center; 
 font-size:15px;
 padding:0 0 0 7px; 
 cursor:pointer; 
}

.menu li a b {
 float:left; 
 display:block; 
 padding:0 14px 0 7px;
}

.menu li a:hover {
 color:#fff; 
 background-image: url(onglets.jpg);
}

.menu li a:hover b {
 background-image: url(onglets.jpg) no-repeat right top;
}

.menu li.current a {
 color:#FEFEFE; 
 background-image:url(onglets.jpg);
}
.menu li.current a b {
 background-image:url(onglets.jpg) no-repeat right top;
}

input.modif_profil_checkbox {
margin-left: 110px;
margin-bottom: 6px;
}

input.modif_profil_psswd {
margin-bottom: 0px;
}